<div class="window" cdkDrag>
  <div class="titlebar" cdkDragHandle>
    {{ window.title }}

    <button
      type="button"
      (pointerdown)="$event.stopPropagation()"
      (click)="close()"
    >
      X
    </button>
  </div>

  <div class="content">
    <ng-container [ngSwitch]="window.file.type">
      <pre *ngSwitchCase="'text'">
{{ window.file.content }}
      </pre>

      <div *ngSwitchCase="'folder'">
        <div class="folder-item" *ngFor="let child of window.file.children" (click)="openChild(child)">
          {{ child.name }}
        </div>
      </div>

      <app-shard-hack
        *ngSwitchCase="'locked-folder'"
        [file]="window.file"
        (unlocked)="unlockFolder()"
      ></app-shard-hack>

      <app-glitch-hack *ngSwitchCase="'hack'"></app-glitch-hack>
      <app-decrypt-puzzle *ngSwitchCase="'decrypt'" [content]="window.file.content || ''">
      </app-decrypt-puzzle>
      <app-network-hack *ngSwitchCase="'network'">
      </app-network-hack>
      <app-terminal *ngSwitchCase="'terminal'">
      </app-terminal>
    </ng-container>
  </div>
</div>
