/* You can add global styles to this file, and also import other style files */
body.corruption-pulse {
  filter:
    contrast(1.2)
    brightness(1.1)
    hue-rotate(2deg);

  transform: translateX(1px);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}